<mat-toolbar color="primary">
    <mat-toolbar-row>  
      <a mat-button [routerLink]="['/home']">
        <span>Gyökérkezelő</span>
      </a>
  
      <button mat-button [routerLink]="['/history']" routerLinkActive="active">
        History
      </button>
      <button mat-button [routerLink]="['/subjects']" routerLinkActive="active">
        Subjects
      </button>
      <button mat-menu-item mat-button (click)="this.logout()">
        <span>Kijelentkezés</span>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>